:root {

  /*  colors  */
  --bgColor_900 : #12172a;
  --bgColor_500 : #222b4f;

  --mainColor_500 : #20283b;
  --mainColor_400 : #2b3345;
  --mainColor_300 : #313b50;

  --textColor : white;
  --softTextColor : #888888;


  /*  sizes  */
  --navbarHeight : 55px;


  /*  decoration  */
  --commonBorderRadius : 5px;
}

body {
  background-color: var(--bgColor_900);
  color: var(--textColor);
  margin: 0px;
}





.commonContainer {
  background-color: var(--mainColor_500);
  border-radius: var(--commonBorderRadius);
  border: 1px solid var(--mainColor_400);
  margin: 20px;
}

.commonContainer h3 {
  font-size: 16px;
  font-weight: normal;
  margin: 10px;
}




